.bottomContainer{
     background-color: #fafafa;
     display: flex;
    justify-content: center;
}
.bottom {
   width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
    display: flex;
    align-items: flex-end;
    li {
        margin-left: 40px;
        cursor: pointer;
        margin-right: 0;
        text-decoration: none;
        list-style: none;
    }
}
}